@page "/Login"
@using BlazorApp.Auth
@using Microsoft.AspNetCore.Components.Authorization

@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager navMgr

<AuthorizeView>
    <NotAuthorized>
        <h3>Please login</h3>
        <label>Username:</label>
        <input type="text" @bind="username" placeholder="Enter your username" />
        <label>Password:</label>
        <input type="password" @bind="password" placeholder="Enter your password" />
        @if (!string.IsNullOrEmpty(errorLabel))
        {
        <label style="color: red">@errorLabel</label>
        }
        <button @onclick="LoginAsync">Log in</button>
    </NotAuthorized>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3>
    </Authorized>
</AuthorizeView>

@code {
private string username = string.Empty;
private string password = string.Empty;
private string errorLabel = string.Empty;

private async Task LoginAsync()
{
errorLabel = "";
try
{
await ((SimpleAuthProvider)AuthProvider).Login(username, password);
navMgr.NavigateTo("/");
}
catch (Exception e)
{
Console.WriteLine(e);
errorLabel = $"Error: {e.Message}";
}
}
}