@page "/posts"
@using DTO
@inject HttpClient Http

<h3>Posts</h3>

@if (posts == null)
{
    <p>Loading posts...</p>
}
else
{
    <ul>
        @foreach (var post in posts)
        {
            <li>
                <a href="@($"/post/{post.PostId}")">@post.Title</a> by @post.Author
            </li>
        }
    </ul>
}

@code {
    private List<PostDto> posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await Http.GetFromJsonAsync<List<PostDto>>("https://yourapiurl.com/posts");
    }
}