@page "/post/{PostId}"
@using DTO
@inject HttpClient Http

<h3>Post Details</h3>

@if (post == null)
{
    <p>Loading...</p>
}
else
{
    <h4>@post.Title</h4>
    <p>@post.Body</p>
    <p><strong>Author:</strong> @post.Author</p>
    <h5>Comments:</h5>
    <ul>
        @foreach (var comment in post.Comments)
        {
            <li>@comment.Body</li>
        }
    </ul>
}

@code {
    [Parameter] public int PostId { get; set; }
    private PostDto post;

    protected override async Task OnInitializedAsync()
    {
        post = await Http.GetFromJsonAsync<PostDto>($"https://yourapiurl.com/posts/{PostId}");
    }
}