@page "/posts"
@using DTO
@inject HttpClient Http

<h3>Posts</h3>

@if (posts == null)
{
    <p>Loading...</p>
}
else if (!posts.Any())
{
    <p>No posts available.</p>
}
else
{
    <ul>
        @foreach (var post in posts)
        {
            <li>@post.Title</li>
        }
    </ul>
}

@code {
    private List<PostDto>? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await Http.GetFromJsonAsync<List<PostDto>>("http://localhost:5126/api/posts");
    }
}