@page "/register"
@using DTO
@inject HttpClient Http

<h3>Register</h3>

<EditForm Model="newUser" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="username">Username:</label>
        <InputText id="username" @bind-Value="newUser.Username" class="form-control" />
    </div>
    <div>
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="newUser.Password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    private CreateUserDto newUser = new CreateUserDto();

    private async Task HandleSubmit()
    {
        var response = await Http.PostAsJsonAsync("http://localhost:5126/api/users", newUser);
        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("User registered successfully.");
        }
        else
        {
            Console.WriteLine("Failed to register user.");
        }
    }
}